<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="main.js"></script> 
</head>
<body>

<h2>HTML Forms</h2>
<div id="aqui"></div>

  
<form id="form" method="POST" action="/logar">
  Nome:<br>
  <input type="text" id="login" name="login" value="">
  <br>
  Senha:<br>
  <input type="text" id="senha" name="senha" value="">
  <br><br>
  <input type="submit"  id="submit" value="logar"/>
</form>



</body>
</html>